.ui-widget th {
  border-top: 1px solid #cdd5da;
  border-right: 1px solid #cdd5da;
  border-bottom: 1px solid #cdd5da;
  padding: 2px;
}

.ui-widget th:first-child {
  border-left: 1px solid #cdd5da;
}

.ui-widget-content th, .ui-widget-content td, .ui-widget-footer td {
  border-bottom: 1px solid #cdd5da;
  border-right: 1px solid #cdd5da;
  padding: 2px;
}

.ui-widget-content th:first-child, .ui-widget-content td:first-child, .ui-widget-footer td:first-child {
  border-left: 1px solid #cdd5da;
}

.ui-icon {
  float: left;
}

.ui-table-row-odd {
	background-color: #eee;
}
