.ui-widget th {
  border-top: 1px solid #cdd5da;
  border-right: 1px solid #cdd5da;
  border-bottom: 1px solid #cdd5da;
  padding: 2px;
}

.ui-widget th:first-child {
  border-left: 1px solid #cdd5da;
}

.ui-widget-content th, .ui-widget-content td, .ui-widget-footer td {
  border-bottom: 1px solid #cdd5da;
  border-right: 1px solid #cdd5da;
  padding: 2px;
}

.ui-widget-content th:first-child, .ui-widget-content td:first-child, .ui-widget-footer td:first-child {
  border-left: 1px solid #cdd5da;
}

.ui-icon {
  /* float: left; */
  display: inline-block;
}

.ui-table-odd {
  background-color: #eee;
}

.ui-table-icon-state-hover {
  background-color: #fcd3a1;
}

.ui-table-state-hover {
  background: #f6f6f6 url(images/ui-bg_highlight-hard_100_f6f6f6_1x100.png) 50% 50% repeat-x;
  color: #111111;
  outline: none; 
}

.ui-widget td input {
  background-color: #fcd3a1;
}
